<div id="header">
  

  <div class="header-sticky-container">
    <div class="header-logo">
      <h2><a href="{{ site.baseurl }}/">UltraProject</a></h2>
    </div>

    <div class="header-navigation">
      <span class="header-section-title">
        <ul>
          
          <li><a href="{{ site.baseurl }}/">Projects</a></li>
          <!-- <li><a href="{{ site.baseurl }}/team">Team</a></li> -->
          <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
          
        </ul>
      </span>
    </div>

  </div>

</div>