
{% if project["category"] == "featured" %}
<div class="open-source-project featured">
{% else %}
<div class="open-source-project">
{% endif %}

  <div class="open-source-title">
    <h2>{{ project["title"]}}</h2>
  </div>

  <div class="open-source-description">
    {% if project["svg"] %}
      {% svg_for_project %}
    {% endif %}

    <p>{{ project["description"] }}</p>

    <div class="open-source-description-link">
      {% if project["website"] %}
        <a href="{{ project['website'] }}" target="_blank">Website</a>
      {% endif %}
      {% if project["github"] %}
        <a href="{{ project['github'] }}" target="_blank">Github</a>
      {% endif %}
      {% if project["arxiv"] %}
        <a href="{{ project['arxiv'] }}" target="_blank">Arxiv</a>
      {% endif %}
      {% if project["huggingface"] %}
        <a href="{{ project['huggingface'] }}" target="_blank">Huggingface</a>
      {% endif %}
    </div>
  </div>
  <div class="open-source-updated"><span>{{ project["created"] }}</span></div>
  <footer></footer>
</div>
